.container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    
    /* justify-content: start; */
    /* justify-content: end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* align-content: start; */
    /* align-content: end; */
    /* align-content: center; */
    /* align-content: space-between; */
    /* align-content: space-around; */
}