/* .container{
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 1px;
} */

/* .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
    grid-gap: 3px;
} */

/* .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);              
    grid-template-rows: repeat(2, 250px);
    grid-gap: 1px;
} */
/* repeat(para1, para2) para1-amounts of rows and columns and para2-value is height and width of the row and columns*/

/* .container{
    display: grid;
    grid-template: repeat(2, 50px)/ repeat(3, 1fr);
    grid-gap: 1px;
} */

/* .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px 200px 30px; 
    grid-gap: 1px;
} */

/* bring like actual content */
/* .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 30px 200px 30px;
}
.header {
  grid-column: 4/-1;
}
.sidebar {
  grid-row: 1/3;
  grid-column: 1 / span 3;
}
.content {
  grid-column: 4/ -1;
}
.footer {
  grid-column: 1/ -1;
} */

/* grid-column-start: 1;
   grid-column-end: 3; 1,3 are column lines */
/* shorthand property */
/* grid-column: 1/3;   column ends at 3rd column line */
/* grid-column: 1/ span 2; span means end of column */
/* grid-column: 1/ -1 ; it goes for end of the column no matter how many column are here*/
/* grid-column: span 2;  it from 1 column to 2nd column*/
/* grid-column: 2/ -1; it start from the 2nd line of column to end of the columns*/

/* same for the gird-rows */
/* grid-row-start: 1;
   grid-row-end: 3;
    */
/* shorthand property */
/* grid-rows: 1/3; grid rows lines */

/* new form */
/* 
.container {
  height: 100%;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "s s s c c c c c c c c c"
    "f f f f f f f f f f f f";
}
.header {
  grid-area: h;
  
}
.sidebar {
  grid-area: s;
}
.content {
  grid-area: c;
}
.footer {
  grid-area: f;
} */
.container {
  height: 100%;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: [main-start]1fr [content-start]2fr[content-end main-end];
  grid-template-rows: [main-start]40px [content-start]auto[content-end] 40px[emain-nd];
}
.header {
  grid-column: main;
  /* grid-column: main-start/main-end; */
}
.sidebar {
  display: block;
}
.content {
  /* grid-column: content; */
  /* grid-area: content-start/content-end; */
  grid-area: content; /*because the content box is rectangled by the content-start and content-end of rows and columns*/
}
.footer {
  grid-column: main;
  /* grid-column: main-start/main-end; */
}
