html,
body {

  color: black;
  box-sizing: border-box;
}
body {
  background-color: lightblue;
}
.container1 {
  max-width: 100rem;
  margin-inline: auto;
  margin-block: 50px;
  border: 1px solid black;
}
.container1>div{
    text-align: center;
}
.container1 > div:nth-child(odd) {
  background-color: rgba(68, 161, 184, 0.411);
}
.container1 > div:nth-child(even) {
  background-color: rgba(61, 184, 98, 0.411);
}

.container2 {
    max-width: 100rem;
    margin-inline: auto;
    margin-block: 50px;
    border: 1px solid black;
  }
  .container2>div{
      text-align: center;
  }
  .container2 > div:nth-child(odd) {
    background-color: rgba(68, 161, 184, 0.411);
  }
  .container2 > div:nth-child(even) {
    background-color: rgba(61, 184, 98, 0.411);
  }
  