html,
body {
  height: 100%;
  color: black;
  box-sizing: border-box;
}
body {
  background-color: lightblue;
}
.container {
  max-width: 800px;
  margin-inline: auto;
  height: 80%;
  border: 1px solid black;
}
.container > div {
  text-align: center;
}
.container > div:nth-child(odd) {
  background-color: rgba(68, 161, 184, 0.411);
}
.container > div:nth-child(even) {
  background-color: rgba(61, 184, 98, 0.411);
}
